.view-mode {
  border: 1px solid rgba(18, 18, 18, 0.8);
  background-color: rgb(18, 18, 18, 0.6);
  color: white;
  height: 48px;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-btn {
  padding: 10px;
}

.icon-btn:hover {
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}