.player {
  border: 1px solid red;
  width: 1080px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player.multiview {
  width: 600px;
}
.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
