.ishihara-picture {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 800px;
  margin-top: 50px;
}
.ishihara-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
